<div class="list" ng-controller='EditTaskController'>

	<div class="row text-center">
		<h1>Edit Task</h1>
	</div>

	<div class="row text-center">
		<a class="button" ng-href="#/task/{{task._id}}">
			Return to Task
		</a>
	</div>

	<form>
		<div class="row">
			<div class="small-12 medium-8 large-6 small-centered columns">
				<label>
					Task Name: <span class="req">*</span>
					<input ng-model="task.name" type="text" placeholder="Task" required>
				</label>

				<label>
					Description:
					<input ng-model="task.description" type="text" placeholder="Description">
				</label>

				<label>
					Deadline: <span class="req">*</span>
					<input ng-model="task.deadline" type="date" placeholder="Deadline" required>
				</label>

				<label>
					Assign to: 
					<select ng-options="user.name for user in users" ng-model="selectedUser"></select>
				</label>

				<div class="note"> <span class="req">*</span> indicates required field </div>

			</div>


			</div>

			<div class="row small-12 text-center">

				<a class="button success" ng-click="completeTask(true)" ng-disabled="task.completed">
					Completed
				</a>

				<button ng-click="editTask()" class="button hollow">
					Submit
				</button>

				<a class="button alert" ng-click="completeTask(false)" ng-disabled="!task.completed">
					Not Completed
				</a>



			</div>

			<div class="row small-12 text-center">
				<span class="lighttext">
					{{displayText}}
				</span>
			</div>



		</div>

	</form>

</div>