<div ng-controller='TaskListController'>

	<div class="row text-center">
		<h1>Tasks</h1>
	</div>

	<div class="row text-center">
		<div class = "columns small-4">
			<label for="filter">Filter:</label>
			<input type="radio" ng-model="filter" value="pending" /> Pending <br>
			<input type="radio" ng-model="filter" value="completed" /> Completed <br>
			<input type="radio" ng-model="filter" value="all" /> All Tasks <br>

		</div>
		<div class = "columns small-4">
			<label for="orderBy">Order By:</label>
			<select name="orderBy" id="orderBy" ng-model="selectedOrder">
				<option ng-repeat="option in orderOptions" value="{{option.optionId}}">{{option.optionName}}</option>
		    </select>

		</div>
		<div class = "columns small-4">
			<label for="sort">Sort:</label>
			<input type="radio" ng-model="sortAscending" value="true" /> Ascending <br>
			<input type="radio" ng-model="sortAscending" value="false" /> Descending
		</div>
	</div>

	<div class="row text-center">
		<a class="button" ng-click="prevClick()" ng-disabled="disablePrev">
			Prev
		</a>
		<a class="button" ng-click="nextClick()" ng-disabled="disableNext">
			Next
		</a>
	</div>

	<div class="row text-center">

		<span class = "lighttext"> <p>{{displayError}}</p> </span>

		<div class = "columns small-4">
			<h3>Task</h3>
		</div>

		<div class = "columns small-3">
			<h3>Assigned to</h3>
		</div>

		<div class = "columns small-3">
			<h3>Deadline</h3>
		</div>

		<div class = "columns small-2">
			<a class="button success" href="#/addtask">
				Add Task
			</a>
		</div>

	</div>

			<div class = "row text-center" ng-repeat="task in tasks">

				<div class = "columns small-4">
					<a ng-href = "#/task/{{task._id}}">
						<b>{{ task.name }}</b>
					</a>
				</div>

				<div class = "columns small-3">
					{{ task.assignedUserName }}
				</div>

				<div class = "columns small-3">
					{{ task.deadline | date:'MM/dd/yyyy' }}
				</div>

				<div class = "columns small-2">
					<a class="small button alert" ng-click="deleteTask(task._id)">
						Delete
					</a>
				</div>

			</div>

	</div>

</div>