<div ng-controller='UserDetailController'>		

	<div class="row text-center">
		{{ displayText }}
	</div>

	<div class="row text-center">
		<h1> {{user.name}} </h1>
	</div>

	<div class="row text-center">
		Email: {{user.email}}
	</div>

	<div class="row text-center">

		<h3><b>Pending Tasks:</b></h3>
		<div class="columns small-4">
			<h3> Task </h3>
		</div>
		<div class="columns small-4">
			<h3> Deadline </h3>
		</div>
		<div class="columns small-4">
			<h3> Change Status </h3>
		</div>
	</div>

		<div class = "row text-center" ng-repeat="pendingTask in pendingTasks">

			<div class="columns small-4">
				<a ng-href={{"#/tasks/{{pendingTask._id}}"}}> {{ pendingTask.name }} </a>
			</div>
			<div class="columns small-4">
				{{ pendingTask.deadline | date:'MM/dd/yyyy' }}
			</div>
			<div class="columns small-4">
				<a class="button small success" ng-click="markCompleted(pendingTask)">
					Mark as Complete
				</a>
			</div>

		</div>

	<div class="row text-center">
		<a class="button" ng-click="loadCompletedTasks()" ng-disabled="dataNotLoaded" ng-show="!loaded">
			Load Completed Tasks
		</a>
	</div>

	<div class="row text-center" ng-show="loaded">

		<h3><b>Completed Tasks:</b></h3>
		<div class="columns small-4">
			<h3> Task </h3>
		</div>
		<div class="columns small-4">
			<h3> Deadline </h3>
		</div>
		<div class="columns small-4">
			<h3> Change Status </h3>
		</div>

	</div>

		<div class = "row text-center" ng-repeat="completedTask in completedTasks">

			<div class="columns small-4">
				<a ng-href="#/tasks/{{completedTask._id}}"> {{ completedTask.name }} </a>
			</div>
			<div class="columns small-4">
				{{ completedTask.deadline | date:'MM/dd/yyyy' }}
			</div>
			<div class="columns small-4">
				<a class="button small alert" ng-click="markNotCompleted(completedTask)">
					Mark as Not Complete
				</a>
			</div>

		</div>
	</div>

</div>